<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip"/>
  <package id="calibre"/>
  <package id="cpu-z"/>
  <package id="discord"/>
  <package id="docker-desktop"/>
  <package id="etcher"/>
  <package id="git"/>
  <package id="hwmonitor"/>
  <package id="licecap"/>
  <package id="microsoft-windows-terminal"/>
  <package id="mongodb-compass"/>
  <package id="mysql.workbench"/>
  <package id="neovim"/>
  <package id="nmap"/>
  <package id="powertoys"/>
  <package id="robo3t"/>
  <package id="rufus"/>
  <package id="vcxsrv"/>
  <package id="vscode"/>
  <package id="nvim"/>
  <package id="fvim"/>
  <package id="winmerge"/>
  <package id="winscp"/>
</packages>
