<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vscode"/>
  <package id="discord"/>
  <package id="microsoft-windows-terminal"/>
  <package id="jetbrainstoolbox"/>
  <package id="winmerge"/>
  <package id="winscp"/>
  <package id="git"/>
  <package id="calibre"/>
  <package id="ojdkbuild"/>
  <package id="plantuml"/>
  <package id="docker-desktop"/>
  <package id="virtualbox"/>
  <package id="php"/>
  <package id="composer"/>
  <package id="awscli"/>
  <package id="7zip"/>
  <package id="vagrant"/>
  <package id="tftpd32"/>
  <package id="nmap"/>
  <package id="mingw"/>
  <package id="hwmonitor"/>
  <package id="rufus"/>
  <package id="etcher"/>
  <package id="ffmpeg"/>
  <package id="licecap"/>
  <package id="putty"/>
  <package id="adobereader"/>
  <package id="sqlitebrowser"/>
  <package id="powertoys"/>
</packages>
