<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui"/>
  <package id="vscode"/>
  <package id="vscode.install"/>
  <package id="intellijidea-ultimate"/>
  <package id="gimp"/>
  <package id="inkscape"/>
  <package id="libreoffice-fresh"/>
  <package id="winmerge"/>
  <package id="winscp"/>
  <package id="discord"/>
  <package id="line"/>
  <package id="keepass"/>
  <package id="firefox"/>
  <package id="googlechrome"/>
  <package id="kindle"/>
  <package id="musicbee"/>
  <package id="sourcetree"/>
  <package id="git"/>
  <package id="calibre"/>
  <package id="ojdkbuild"/>
  <package id="plantuml"/>
  <package id="anaconda3"/>
  <package id="ruby"/>
  <package id="ruby.devkit"/>
  <package id="golang"/>
  <package id="docker-desktop"/>
  <package id="virtualbox"/>
  <package id="php"/>
  <package id="7zip"/>
  <package id="microsoft-windows-terminal"/>
  <package id="vagrant"/>
  <package id="tftpd32"/>
</packages>