<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cica"/>
  <package id="adobereader"/>
  <package id="calibre"/>
  <package id="calibre-dedrm"/>
  <package id="discord"/>
  <package id="firefox"/>
  <package id="gimp"/>
  <package id="googlechrome"/>
  <package id="honeyview"/>
  <package id="inkscape"/>
  <package id="keepass"/>
  <package id="kindle"/>
  <package id="line"/>
  <package id="musicbee"/>
  <package id="obs-studio"/>
  <package id="powertoys"/>
  <package id="vlc"/>
  <package id="ueli"/>
  <package id="zoom"/>
</packages>
