[submodule "dotfiles/anyenv"]
	path = dotfiles/anyenv
	url = https://github.com/riywo/anyenv
[submodule "anyenv"]
	path = anyenv
	url = https://github.com/anyenv/anyenv.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
