# dont look swap and backup files
vim/swap/*
vim/backup/*
!vim/backup/init
w3m/*
!w3m/bookmark.html
!w3m/config
vim/bundle/*
bin/cpanm
lang/php/basic_auth/mydns.jp.setting.php
dotfiles/anyenv/

/vim/.netrwhist
