# dont look swap and backup files
dotfiles/vim/swap/*
dotfiles/vim/backup/*
dotfiles/vim/after/*
dotfiles/vim/bundle/*
dotfiles/vim/backup/*
dotfiles/vim/sessions/*
dotfiles/nvim/autoload/*
dotfiles/dconf/keybindings-dump
!dotfiles/vim/backup/init
dotfiles/vim/.netrwhist
dotfiles/w3m/*
!dotfiles/w3m/bookmark.html
!dotfiles/w3m/config
vim/bundle/*
!vim/bundle/Vundle.vim
bin/cpanm
bin/openvpn.sh
bin/tig
lang/php/basic_auth/mydns.jp.setting.php
