<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>spawn-fcgi</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/spawn-fcgi</string>
        <string>-f</string>
		<string>/usr/local/bin/php-cgi</string>
        <string>-a</string>
		<string>127.0.0.1</string>
        <string>-p</string>
		<string>9000</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
