session = ~/.rtorsession
directory = /big/rtdown
max_uploads = 2
upload_rate = 30
download_rate = 100
schedule = watch_directory,5,5,load_start=./rtfile/*.torrent
schedule = untied_directory,5,5,stop_untied=
port_range = 6890-6891
use_udp_trackers = yes
dht = auto
dht_port = 6892
peer_exchange = yes
